/* UpdateButton.module.css */
.button {
    padding: 10px 20px;
    border: 2px solid #248543; 
    border-radius: 10px;
    background-color: white;
    color: #248543;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #eaf4ea;
  }
  