.tabContainer {
  width: 271px;
  height: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 80px;
  }
  
  .tabItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
  }
  
  .tabItem:hover {
    background-color: #eaf9eb;
    color: #248543;
  }
  
  .tabItem:hover .tabIcon {
    background-color: #248543; /* Ikon berubah warna menjadi hijau */
    color: #fff; /* Teks di dalam ikon berubah menjadi putih */
  }

  .tabIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  
  /* .activeTab {
    background-color: #eaf9eb;
    color: #248543;
  } */
  
  .activeTab .tabIcon {
    background-color: #248543;
    color: #fff;
  }
  
.title{
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 38.4px;
margin-bottom: 50px;
margin-top: 161px;
}