/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/DetailAnimalFemaleCard/DetailAnimalFemaleCard.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************/
.DetailAnimalFemaleCard_card__BBLXr {
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 347px;
    max-height: 303px;
  }
  
  .DetailAnimalFemaleCard_title__oHyxZ {
    /* color: #4caf50;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px; 
    color: #248543;
    margin-bottom: 16px;
  }
  
  .DetailAnimalFemaleCard_total__sCMYQ {
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 1px; */
  }
  
  .DetailAnimalFemaleCard_ekor___c9WS{
    font-size: 14px;
    color: #757575;
    margin-bottom: 32px;
  }
  .DetailAnimalFemaleCard_totalNumber__cgrwh {
    color: #000;
  }
  
  .DetailAnimalFemaleCard_details__7ovkb {
    display: flex;
    font-size: 14px;
    color: #757575;
    margin-bottom: 32px;
  }

  .DetailAnimalFemaleCard_details2__h6svm {
    display: flex;
    font-size: 14px;
    color: #757575;
  }

  .DetailAnimalFemaleCard_details2__h6svm p {
    margin-right: 10px ;
  }
  
  .DetailAnimalFemaleCard_details__7ovkb p {
    margin-right: 20px;
  }

  .DetailAnimalFemaleCard_pedet__KItC1{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000;
  }

  .DetailAnimalFemaleCard_dara__lZrvO{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000;
  }

  .DetailAnimalFemaleCard_siapKawin__vdG0H{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000;
  }

  .DetailAnimalFemaleCard_hamil__BvxQf{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000;
  }

  .DetailAnimalFemaleCard_menyusui__X878x{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000;
  }
  
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/DetailAnimalMaleCard/DetailAnimalMaleCard.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************/
.DetailAnimalMaleCard_card__75u5B {
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-height: 303px;
  }
  
  .DetailAnimalMaleCard_title__0NmsS {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px; 
    color: #248543;
    margin-bottom: 16px;
  }
  
  .DetailAnimalMaleCard_total__xWw4S {
    font-size: 24px;
    font-weight: bold;
  }
  
  .DetailAnimalMaleCard_ekor__nfTbD{
    font-size: 14px;
    color: #757575;
    margin-bottom: 32px;
  }
  .DetailAnimalMaleCard_totalNumber__a3STF {
    color: #000;
  }
  
  .DetailAnimalMaleCard_details__m_iPh {
    display: flex;
    font-size: 14px;
    color: #757575;
    margin-bottom: 32px;
  }
  
  .DetailAnimalMaleCard_details__m_iPh p {
    margin-right: 40px;
  }

  .DetailAnimalMaleCard_pedet__bJ19T{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000;
  }

  .DetailAnimalMaleCard_siapKawin__DZYLG{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000;
  }
  
