@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  --font-inter: "Inter", sans-serif;
}

@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
    --background: #248543;
    --foreground: #0a0a0a;
    --card: #e3e3e3;
    --card-foreground: #0a0a0a;
    --primary: #248543; /* Warna HEX */
    --primary-foreground: #248543;
    --secondary: #e3e3e3;
    --secondary-foreground: #0a0a0a;
    --muted: #e3e3e3;
    --muted-foreground: #737373;
    --border: #248543;
    --input: #248543;
  }
  .dark {
    --font-inter: "Inter", sans-serif;
    --background: #248543;
    --foreground: #0a0a0a;
    --card: #e3e3e3;
    --card-foreground: #0a0a0a;
    --primary: #248543; /* Warna HEX */
    --primary-foreground: #248543;
    --secondary: #e3e3e3;
    --secondary-foreground: #0a0a0a;
    --muted: #e3e3e3;
    --muted-foreground: #737373;
    --border: #248543;
    --input: #248543;
  }

  .tittle-login{
    text-align: center;
    /* padding-bottom: 10%; */
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    font-style: normal;
  }

  .space-y-4{
    padding-top: 32;
  }

  .button-login{
    display: flex;
    justify-content: center;
  }

  .mt-6{
    text-align: center;
  }

  .card-login{
    float: right;
  }

  .form-password{
    padding-top: 4%;
    padding-bottom: 4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter);
  }
}
