.sidebarContainer {
    width: 303px;
    height: 100%;
    display: inline-flex;
    padding: 24px 16px 610px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    background: var(--Base-Surface, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
  }
  
  .sidebarProfile {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .profilePicture {
    margin-bottom: 62px;
  }
  
  .dropdownButton {
    width: 271px;
    height: 52px;
    margin-top: 10px;
    background-color: #248543;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdownList {
    width: 271px;
    margin-top: 10px;
    border-color: #248543;
    background-color: #fff;
    color: #248543;
    border-width: 1px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
  }

  .dropdownItem {
    width: 271px;
    color: #248543;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: top;
    justify-content: space-between;
  }
  
  .dropdownIcon {
    margin-left: 8px;
    font-size: 12px;
  }

.sidebarMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menuItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    align-items: left;
    padding: 4px 2px;
    width: 271px;
  }
  
  .menuItems:hover{
    width: 271px;
  }

  /* .selectedMenuItems{
    border-radius: 10px;
    background: #EBFAF0;
    color: #248543;
  } */

  .menuItem:hover {
    background-color: #EBFAF0;
    border-radius: 10px;
  }

  .menuItem svg {
    flex-shrink: 0;
  }
  

  