.activityInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
    align-self: stretch;
}

.activityInformationTeams {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.activityInformationTeamsTable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.activityInformationTeamsTableHeader {
    display: flex;
    align-items: center;
    gap: 570px;
}

.activityInformationTeamsTableCont {
    display: flex;
    align-items: center;
    gap: 110px;
}

.activityInformationTeamsTableRows {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.activityInformationTeamsTableRowsData {
    display: flex;
    align-items: center;
    gap: 16px;
}

.activityInformationTeamsTableRowsDataMember {
    display: flex;
    width: 576px;
    align-items: flex-end;
    gap: 16px;
}

.activityInformationTeamsTableRowsDataMemberInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.activityInformationTeamsTableRowsDataInfo {
    display: flex;
    align-items: center;
    gap: 104px;
}

.activityInformationTeamsTableRowsDataInfoPositionBox {
    display: flex;
    width: 91px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.menuHeader {
    display: flex;
    align-items: center; 
    margin-bottom: 24px;
    margin-right: 6vw;
  }
  .menuTittle{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px; 
  }

  .primaryButton{
    margin-left: 50%;
  }