/*!******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/InviteOperatorButton/InviteOperatorButton.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************/
.InviteOperatorButton_button__t723w {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center; 
    border: none;
    border-radius: 10px;
    background-color: #248543; /* Warna merah muda */
    color: #FFFFFF; /* Warna merah teks */
    width: 200px;
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .InviteOperatorButton_icon__oqrUz {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    color: #FFFFFF;
  }

  .InviteOperatorButton_svgIcon__TkCBW {
    display: flex;
    width: 16px;
    height: 16px;
    fill: white; /* Warna ikon putih */
  }
  
  .InviteOperatorButton_label__0GnwB {
    white-space: nowrap; /* Pastikan teks tidak terputus menjadi dua baris */
  }
