/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/Filter/Filter.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.Filter_button__M5F5C {
    padding: 10px 20px;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 8px;
    line-height: 19.2px; /* 120% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    color: #000000; 
  }
  
  .Filter_line__bJQfs {
    height: 2px;
    width: 100%;
    background-color: #000000;
    margin-top: 4px;
  }
