/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/YearAndMonthPicker/YearAndMonthPicker.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.YearAndMonthPicker_container__lHN46 {
    display: flex;
    gap: 2px;
  }
  
  .YearAndMonthPicker_tabContainer__gp_Vy {
    position: relative;
  }
  
  .YearAndMonthPicker_tab__K400i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #248543;
    color: white;
    border: none;
    cursor: pointer;
  }

  .YearAndMonthPicker_tab__K400i svg{
    margin-left: 8px;
    display: block;
    height: 1em;
    width: auto;
  }
  
  .YearAndMonthPicker_leftTab__Gly0T {
    border-radius: 8px 0 0 8px; /* Border kiri */
  }
  
  .YearAndMonthPicker_rightTab__kQ1Y4 {
    border-radius: 0 8px 8px 0; /* Border kanan */
  }
  
  .YearAndMonthPicker_tab__K400i:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .YearAndMonthPicker_dropdownIcon__QO7gK {
    color: #FFFFFF;
    width: 17.324px;
    height: 10.4px;
  }

  .YearAndMonthPicker_dropdownItem__ZGAfN span {
    margin-left: 8px; /* Space between the text and the icon */
    display: inline-flex;
    align-items: center;
  }
  
  .YearAndMonthPicker_dropdown__Enw7h {
    position: absolute;
    left: 0;
    gap: 16px;
    background-color: white;
    border: 1px solid #248543;
    border-radius: 10px;
    z-index: 20;
    margin-top: 8px;
    width: 200px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.30);
    overflow: hidden;
  }
  
  .YearAndMonthPicker_dropdownItem__ZGAfN {
    position: relative;
    margin-top: 4px;
    display: block;
    padding: 12px 16px;
    background-color: white;
    color: #248543;
    border: none;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
  }
  
/* Dropdown item for tab1 */
.YearAndMonthPicker_dropdownItem__ZGAfN.YearAndMonthPicker_tab1__Fechy + .YearAndMonthPicker_dropdownItem__ZGAfN.YearAndMonthPicker_tab1__Fechy::before {
    color: #248543;
    content: '';
    display: block;
    height: 1px;
    width: 72px; /* Width for Tab 1 */
    margin: 0 auto;
    background-color: #28a745; /* Green color */
    position: absolute;
    top: -4px; /* Adjust spacing above the next item */
    left: 50%; /* Center the line horizontally */
    transform: translateX(-50%);
  }
  
  /* Dropdown item for tab2 */
  .YearAndMonthPicker_dropdownItem__ZGAfN.YearAndMonthPicker_tab2__JWBBQ + .YearAndMonthPicker_dropdownItem__ZGAfN.YearAndMonthPicker_tab2__JWBBQ::before {
    content: '';
    display: block;
    height: 1px;
    width: 121px; /* Width for Tab 2 */
    margin: 0 auto;
    background-color: #28a745; /* Green color */
    position: absolute;
    top: -4px; /* Adjust spacing above the next item */
    left: 50%; /* Center the line horizontally */
    transform: translateX(-50%);
  }
  
  /* Optional: Add hover or active state styles for better UI feedback */
  .YearAndMonthPicker_dropdownItem__ZGAfN.YearAndMonthPicker_tab1__Fechy:hover,
  .YearAndMonthPicker_dropdownItem__ZGAfN.YearAndMonthPicker_tab2__JWBBQ:hover {
    background-color: #248543; /* Highlight the item */
  }
  
  /* Optional: Add an indicator for the selected item */
  .YearAndMonthPicker_dropdownItem__ZGAfN.YearAndMonthPicker_selected__WA9VN {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/Sidebar/Sidebar.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.Sidebar_sidebarContainer__XUDpv {
    width: 303px;
    display: inline-flex;
    padding: 24px 16px 610px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    background: var(--Base-Surface, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
  }
  
  .Sidebar_sidebarProfile__PSno1 {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .Sidebar_profilePicture__CGGjd {
    border-radius: 30px;
    background-color: gray;
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
  
  .Sidebar_dropdownButton__kOnjg {
    width: 271px;
    height: 52px;
    margin-top: 10px;
    background-color: #248543;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Sidebar_dropdownIcon__4_Knv {
    margin-left: 8px;
    font-size: 12px;
  }

.Sidebar_sidebarMenu__iRLnL {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .Sidebar_menuItem__z_2eG {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    align-items: center;
  }
    .Sidebar_menuItems__LOxHK:hover{
    width: 271px;
  }

  
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/SearchBar/SearchBar.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.SearchBar_searchBar__hwuLr {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    gap: 16px;
  }
  
  .SearchBar_icon__4kOwz {
    width: 20px;
    height: 20px;
    color: #808080; /* Warna abu-abu */
    margin-right: 10px;
  }
  
  .SearchBar_input__fgIoO {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    color: #333; /* Warna teks */
  }
  
  .SearchBar_input__fgIoO::placeholder {
    color: #b0b0b0; /* Warna placeholder */
  }
  
  .SearchBar_searchBar__hwuLr:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .SearchBar_searchBar__hwuLr:focus-within {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }
  
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ui/CategoryAnimalCard/CategoryAnimalCard.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.CategoryAnimalCard_card__d_VIV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 236px; 
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  text-align: center;
  position: relative; 
  margin: 10px;
}

.CategoryAnimalCard_icon__15sSk {
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
}

.CategoryAnimalCard_title__dkMbD {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.4px; 
  margin-right: auto;
  color: #248543;
  /* margin-top: 100px; */
  text-align: left;
}

.CategoryAnimalCard_body__DyiB5{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.CategoryAnimalCard_totalSection__CdMoL {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-bottom: 16px;
}

.CategoryAnimalCard_total___xkRf {
  margin-right: auto;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.CategoryAnimalCard_totalLabel__cU2IA {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #808080;
}

.CategoryAnimalCard_genderSection__uep8p {
  display: flex;
  width: 100%;
}

.CategoryAnimalCard_gender__iJcA7 {
  display: flex;
  flex-direction: column;
}

.CategoryAnimalCard_genderCount__GcReS {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #000000;
}

.CategoryAnimalCard_genderLabel__LculI {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  color: #808080;
}

.CategoryAnimalCard_arrow__jJXGI {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.CategoryAnimalCard_iconArrow__mo1c0 {
  width: 24px;
  height: 24px;
  color: #28a745;
}

.CategoryAnimalCard_header__zCANi{
  position: relative;
  display: flex;
  flex-direction: column;
}

.CategoryAnimalCard_icon__15sSk{
  width: 97px;
  height: 86px;
}

.CategoryAnimalCard_spaceGender__lyeex{
  margin: 10%;
}
